body {
    background-color: #045cac;
    margin: 0;
    padding: 0;
}

.img-almoxarifa {
    position: fixed;
    left: 0;
    top: 0;
    width: 1250px;
    height: 100vh;
    object-fit: cover;

}

.logo {
    width: 600px;
    height: auto;
    margin-top: 30px;
}

h1 {
    color: #ffffff;
    padding-top: 40px;
    margin-bottom: 0;
}

.quadrado {
    background-color: #045cac;
    position: fixed;
    right: 0;
    top: 0;
    width: 700px;
    height: 100vh;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.input1 {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    padding-top: 80px;
    width: fit-content;
    text-align: left;
}

.input2 {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px auto 0 auto;
    width: fit-content;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    font-size: 22px;
    padding: 6px 12px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background-color: #F28B0C;
    border-radius: 6px;
    width: 200px;
    height: 70px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1F3473;
    border: none;
    cursor: pointer;
    display: block;
    margin: 60px auto 0 auto;
}

a {
    font-size: 20px;
    color: #F28B0C;
    display: block;
    margin-top: 25px;
    text-decoration: none;
    cursor:not-allowed;
}