<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADICIONAR ITENS</title>
    <link rel="shortcut icon" type="image/png" href="static/fiep.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style+itens.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>

<body onload="coloriraditens()">

    <div class="container">
        <img src="static/images.png">
        <div class="navbar">

            <a href="/home"id="home">
                <button> HOME </button>
            </a>
            <button id="itens"> ADICIONAR ITENS</button>

            <a href="/estoque">
                <button> ESTOQUE </button>
            </a>

            <a href="/saidas">
                <button> REGISTRAR SAÍDAS </button>
            </a>
            <a href="/">
                <button> FECHAR </button>
            </a>
        </div>
    </div>


    <div class="quadrado">

        <h1>ADICIONAR ITENS</h1>

        <div>
            <label for="nome"><strong>NOME</strong></label>
            <input class="input1" type="text" id="nome" name="nome" placeholder="">
        </div>

        <div>
            <label for="descricao"><strong>DESCRIÇÃO</strong></label>
            <input class="input2" type="text" id="descricao" name="descricao" placeholder="">
        </div>

        <div>
            <label for="quantidade"><strong>QUANTIDADE</strong></label>
            <input class="input3" type="text" id="quantidade" name="quantidade" placeholder="">
        </div>

        <div>
            <label for="iditem"><strong>ID DO ITEM</strong></label>
            <input class="input4" type="text" id="iditem" name="iditem" placeholder="">
        </div>

        <div class="botoes">
            <button><strong>ADICIONAR</strong></button>
        </div>

    </div>

</body>

</html>