<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRIAR CONTA</title>
    <link rel="shortcut icon" type="imagex/png" href="img/fiep.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylecc.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>

<body>
    <img src="{{ url_for('static', filename='images.png') }}" height="100" width="300"><br><br>

    <div class="quadradocc">

        <h1>CRIAR CONTA</h1>

        <div>
            <label for="username"><strong>Usuário</strong></label>
            <input class="input1" type="text" id="username" name="username" placeholder="">
        </div>

        <div>
            <label for="senha"><strong>Senha</strong></label>
            <input class="input2" type="password" id="senha" name="senha" placeholder="">
        </div>

        <div>
            <label for="confirmar"><strong>CONFIRMAR SENHA</strong></label>
            <input class="input3" type="password" id="confirmar" name="confirmar" placeholder="">
        </div>

        <div class="parabens">
            <button onclick="a()">Criar conta</button>
        </div>

        <div class="voltar">
            <a href="/"><button><i>Volte para o login</i></button></a>
        </div>

    </div>
</body>

</html>