<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTOQUE</title>
    <link rel="shortcut icon" type="imagex/png" href="img/fiep.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleestoque.css') }}">
</head>

<body>

    <div class="container">
        <img src="static/images.png">
        <div class="navbar">

            <a href="/home">
                <button> HOME </button>
            </a>

            <a href="/adicionaritens">
            <button> ADICIONAR ITENS</button>
            </a>

            <button> ESTOQUE </button>

            <a href="/saidas">
                <button> REGISTRAR SAÍDAS </button>
            </a>

            <a href="/">
                <button> FECHAR </button>
            </a>
        </div>
    </div>

    <h1> ESTOQUE </h1>

    <div class="quadrado">
        <table>
            <thead>
                <tr>
                    <th width="10%">ID</th>
                    <th width="20%">ITEN</th>
                    <th width="50%">DESCRIÇÃO</th>
                    <th width="8%">QUANTIDADE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0000</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>

</body>

</html>