<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTOQUE</title>
    <link rel="shortcut icon" type="image/png" href="static/fiep.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleestoque.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>

<body onload="colorirestoque()">

    <div class="container">
        <img src="static/images.png">
        <div class="navbar">

            <a href="/home">
                <button id="home"> HOME </button>
            </a>

            <a href="/adicionaritens">
                <button id="itens"> ADICIONAR ITENS</button>
            </a>

            <button id="estoque"> ESTOQUE </button>

            <a href="/saidas">
                <button> REGISTRAR SAÍDAS </button>
            </a>

            <a href="/">
                <button> FECHAR </button>
            </a>
        </div>
    </div>

    <h1> ESTOQUE </h1>

    <div class="quadrado">
        <table>
            <thead>
                <tr>
                    <th width="10%">ID</th>
                    <th width="20%">ITEN</th>
                    <th width="50%">DESCRIÇÃO</th>
                    <th width="8%">QUANTIDADE</th>
                    <th width="8%">FOTO</th>
                </tr>
            </thead>
            <tbody>

                {% for item in itens %}

                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>
                        {% if item.imagem %}
                        <button class="btn-foto"
                             onclick="Swal.fire({ imageUrl: '/static/uploads/{{ item.imagem }}', imageHeight: 400, imageAlt: 'Imagem do item' });">
                            <img src="{{ url_for('static', filename='icone de imagem.png') }}">
                        </button>
                        {% else %}
                        <span style="color:gray;font-size:12px;">sem foto</span>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="upload-container">
        <input type="file" id="csvInput" accept=".csv" style="display:none" onchange="importarCSV(this)">

        <button onclick="document.getElementById('csvInput').click()">
            Importar CSV
        </button>

        <button class="exportar" onclick="exportarCSV()">
            Exportar CSV
        </button>
        <form action="/api/apagar_estoque" method="POST">
        <button type="submit" class="apagar">
        Apagar Estoque
    </button>

    </div>
    

</body>

</html>