<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="shortcut icon" type="image/png" href="static/fiep.jpg">
     <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>

<body onload="colorir()">

    <div class="container">
        <img src="static/images.png">
        <div class="navbar">

            
            <button id="home"> HOME </button>

            <a href="/adicionaritens">
            <button> ADICIONAR ITENS</button>
            </a>

            <a href="/estoque">
                <button> ESTOQUE </button>
            </a>

            <a href="/saidas">
                <button> REGISTRAR SAÍDAS </button>
            </a>

            <a href="/">
                <button> FECHAR </button>
            </a>
        </div>
    </div>


    <div class="header">
        <h1 class="bem-vindo">BEM VINDO, USUÁRIO👋</h1>
        <h1 class="sistema-titulo">SISTEMA DE ALMOXARIFADO</h1>
    </div>
    <div class="quadrado">
        <br><br><br><br><br><br><br>
        <h1 class="resumo-estoque">RESUMO DO ESTOQUE</h1>
        <h2 class="itens-cadastrados-esq">ITENS CADASTRADOS</h2>
        <h2 class="itens-cadastrados-dir">ITENS CADASTRADOS</h2>
        <h1 class="contador-dir">0</h1>
        <h1 class="contador-esq">0</h1>
        <h1 class="ultimos-itens">ÚLTIMOS ITENS CADASTRADOS</h1>
        <h3 class="unid">0 UNID</h3>
        <h3 class="separador">•_____</h3>
    </div>
</body>
</html>
