index:
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='fiep.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>

    <img class="img-almoxarifa" src="{{ url_for('static', filename='almoxarifa.jpg') }}">
    
    <div class="quadrado">
        <img class="logo" src="{{ url_for('static', filename='images.png') }}">
        <h1>SGA SENAI</h1>

        <form method="POST" action="/api/login">
            <div class="input1">
                <label for="login"><strong>Username:</strong></label><br>
                <input type="text" id="login" name="username" placeholder="Digite seu login" required>
            </div>

            <div class="input2">
                <label for="senha"><strong>SENHA:</strong></label><br>
                <input type="password" id="senha" name="senha" placeholder="Digite sua Senha" required>
            </div>

            <div class="permissao">
                <label><input type="checkbox" id="checkUser" name="tipo" value="user" checked> User</label>
                <label><input type="checkbox" id="checkAdm" name="tipo" value="adm"> ADM</label>
            </div>

           <button type="submit" id="ENTRAR">ENTRAR</button>
        </form>

        <div style="margin-top: 15px;">
            <a href="/criarconta" id="linkCriar"><strong><em>Crie uma conta</em></strong></a>
        </div>
    </div>

</body>
</html>