<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="imagex/png" href="img/fiep.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesaida.css') }}">
</head>

<body>

    <img src="img/images.png">

    <div class="quadrado">

        <h1>SGA SENAI</h1>

        <div class="input1">
            <label for="login"><strong>Username:</strong></label>
            <br>
            <input type="text" id="login" name="nome" placeholder="Digite seu login">
        </div>

        <div class="input2">
            <label for="senha"><strong>SENHA:</strong></label>
            <br>
            <input type="password" id="senha" name="nome" placeholder="Digite sua Senha">
        </div>

        <a href="home.html">
            <button>
                ENTRAR
            </button>
        </a>

        <a href="criarconta.html"> <strong><em>Crie uma conta</em></strong></a>
    </div>

</body>

</html>