<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAÍDAS DE INSUMOS</title>
    <link rel="shortcut icon" type="imagex/png" href="static/fiep.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesaida.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>

<body onload="saida()">

    <div class="container">
        <img src="static/images.png">
        <div class="navbar">

            <a href="/home">
                <button id="home"> HOME </button>
            </a>
            
            <a href="/adicionaritens">
                <button id="itens"> ADICIONAR ITENS</button>
            </a>

            <a href="/estoque">
                <button id="estoque"> ESTOQUE </button>
            </a>

            <button id="saida"> REGISTRAR SAÍDAS </button>

            <a href="/"id="FECHAR">
                <button> FECHAR </button>

            </a>
        </div>
    </div>

    <h1> SAÍDAS DE INSUMOS </h1>

    <div class="quadrados">
        <div class="quadrado1">

            <label for="solicitante">Nome do solicitante:</label>
            <input type="text" id="solicitante" name="">

            <label for="almoxarife">Nome do almoxarife:</label>
            <input type="text" id="almoxarife" name="">

            <label for="data">Data de retirada (se ter):</label>
            <input type="date" id="data" name="">

            <div class="inputs">
                <div>
                    <label for="id">ID do item:</label>
                    <input type="text" id="id" name="">
                </div>
                <div>
                    <label for="qtde">QTDE:</label>
                    <input type="text" id="qtde" name="">
                </div>
            </div>

            <div class="checkbox">
                <span>ITEM COM DEVOLUÇÃO?</span>
                <div>
                    <label for="sim">Sim</label>
                    <input type="checkbox" id="sim" name="devolucao">
                </div>
                <div>
                    <label for="nao">Não</label>
                    <input type="checkbox" id="nao" name="devolucao">
                </div>
            </div>

            <label for="obs">Observações:</label>
            <textarea id="obs" name="obs"></textarea>

        </div>

        <div class="quadrado2">

        </div>
    </div>

    <div class="botaov">
        <button> Visualizar </button>
    </div>

</body>

</html>