<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAÍDAS DE INSUMOS</title>
    <link rel="shortcut icon" type="image/png" href="static/fiep.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesaida.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='saidas.js') }}" defer></script>
</head>

<body onload="saida()">

    <div class="container">
        <img src="static/images.png">
        <div class="navbar">
            <a href="/home"><button id="home">HOME</button></a>
            <a href="/adicionaritens"><button id="itens">ADICIONAR ITENS</button></a>
            <a href="/estoque"><button id="estoque">ESTOQUE</button></a>
            <button id="saida">REGISTRAR SAÍDAS</button>
            <a href="/"><button>FECHAR</button></a>
        </div>
    </div>

    <h1>SAÍDAS DE INSUMOS</h1>

    <div class="quadrados">

        <div class="quadrado1">
            <label for="solicitante">Nome do solicitante:</label>
            <input type="text" id="solicitante">

            <label for="almoxarife">Nome do almoxarife:</label>
            <input type="text" id="almoxarife">

            <label for="data">Data de retirada:</label>
            <input type="date" id="data">

            <div class="inputs">
                <div>
                    <label for="id_item">ID do item:</label>
                    <input type="text" id="id_item">
                </div>
                <div>
                    <label for="qtde">QTDE:</label>
                    <input type="text" id="qtde">
                </div>
            </div>

            <div class="checkbox">
                <span>ITEM COM DEVOLUÇÃO?</span>
                <div>
                    <label for="sim">Sim</label>
                    <input type="checkbox" id="sim" name="devolucao">
                </div>
                <div>
                    <label for="nao">Não</label>
                    <input type="checkbox" id="nao" name="devolucao">
                </div>
            </div>

            <label id="finalidade">Finalidade:</label>
            <textarea id="obs"></textarea>

            <div class="botoes-acao">
                <button class="btn-adicionar" onclick="adicionarNaTabela()">ADICIONAR</button>
                <button class="btn-registrar" onclick="registrarSaida()">REGISTRAR</button>
            </div>
        </div>

        <div class="quadrado2">
            <h1 style="color:#135E9F; font-size: 36px; text-align:center; margin-top: 20px;">ITENS ADICIONADOS</h1>
            <div class="tabela-wrapper">
                <table class="tabela-saida">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Devolução?</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody id="corpoTabela">
                    </tbody>
                </table>
            </div>
        </div>

</body>

</html>